# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
media/
staticfiles/

# Database
*.sqlite3

# Celery
celerybeat-schedule
celerybeat.pid

# Environment
.env
.env.*
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/
